@import "tema/variables_tema";
@import "tema/generales";
@import "tema/header";
@import "tema/blog";
@import "tema/single_blog";
@import "tema/sidebar";
@import "tema/footer";
@import "tema/comentarios";
@import "tema/single-trainer";
@import "tema/single-clases";
@import "tema/all-trainers";
@import "tema/all-clases";
@import "tema/paginacion";
@import "tema/slider";
@import "tema/servicios";


.info-noticias
{
	height: 200px;
	overflow: hidden;
	padding-bottom: 15px;
	border: 1px solid $principal;
}





























