#masthead
{
	background-color: $secundario!important;
	padding: 8px 0px;
	#primary-menu
	{
		ul#menu-id
		{
			& > li
			{
				margin-left: 9px;
				transition:  all .3s ease; 
				a
				{
					color: $blanco!important;
				}
			}
		}
		ul.sub-menu
		{
			background-color: $secundario;
			li
			{
				padding: 7px 12px;
				cursor: pointer;
				margin-bottom: 5px;
				&:hover
				{
					background-color: $principal;
				}
			}
			
			/* FLECHA */
				.menu-item-has-children
				{
					> a 
					    {
							color: $principal!important;
							&::before 
							{
								right: 5px;
								border-top-color: transparent;
								border-left-color: $blanco;
							}
						}
				}
		}
	}
	
}


.current_page_item, .current_page_ancestor
{
	border-bottom: 2px solid $principal;
	width: 100%;
}
.menu-item-has-children
{
	> a {
		margin-right: 13px;
		&:before 
		{
			content:'';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-10%);
			border: 5px solid transparent;
			border-top-color: $blanco;
		}
	}
}
